{% extends 'core/base.html' %}

{% block title %}{{ job.job_title }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-1">
        <img src="{{ job.company_logo.url }}" class="rounded-xl">
    </div>

    <div class="col-span-4 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ job.job_title }}</h1>
        <p class="text-gray-500"><strong>Created by: </strong>{{ job.company_name }}</p>
        <br>
        <br>
    
        {% if job.job_description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Job Description:</strong><br>
                {{ job.job_description }}
            </p>
        {% endif %}

        {% if request.user == job.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This is your job posting!</p>

                <a href="{% url 'job:edit' job.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'job:delete' job.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
        {% else %}  
            <a href="{% url 'conversation:new' job.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Apply to Job</a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related Jobs</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for job in related_jobs %}
            <div>
                <a href="{% url 'job:detail' job.id %}">
                    <div>
                        <img src="{{ job.company_logo.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ job.job_title }}</h2>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}